# Path to media library, all downloads will be stored there
MEDIA_DIR=/mnt/exthdd

# Path to root config directory, service configurations will be created there
CONFIG_DIR=/mnt/exthdd/config

# General properties
PUID=1000
PGID=1000
TZ=Europe/Moscow
UMASK=0

# TOR properties
TOR_LOCATION=UA
TOR_LIMIT_BW=100
