# System user and properties
PUID=1000
PGID=1000
TZ=Europe/Moscow
UMASK=0

# Path to root media directory (for example external hdd drive):
MEDIA_DIR=/mnt/exthdd

# TOR properties
TOR_LOCATION=UA
TOR_LIMIT_BW=100

# Other
